body {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}



/* este es el header */
.header-container {
    width: 83%;
    background-color: #30343f;
    flex-direction: column;
    justify-content: flex-start;


}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191e2b;
    justify-content: space-around;
    height: 15%;


}

.header-title {
    color: white;
    margin: 0.3125rem 0rem;

}



.container-list {
    display: flex;
    justify-content: center;
    width: 30%;


}

.list {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    color: white;
    padding: 0.3125rem 0px;
    background-color: #191e2b;
    border: none;
}


.hidden {
    display: none;
}

.icon {
    color: #ffffff;
    font-size: 15px;
    margin: 0px 7px;

}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    background-color: #30343f;
}

#container-meme {
    background-position: center;
    background-size: cover;
}

.container-memes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
    position: relative;
    background-color: black;

}

.title {
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 24px;
    position: static;

}

.container-image {

    height: 100%;
    width: 100%;
    flex-grow: 1;
    background-color: black;
}


.container-button {
    display: flex;
    background-color: #5f824a;
    padding: 5px;
    border: none;
    border-radius: 5px;

}

.text-button {
    color: #ffffff
}

.button-icon-text {
    font-size: 15px;
    color: #ffffff;
    margin: 10px 5px;
    border-radius: 5px;
}

/* seccion formulario imagenes */

label {
    margin: 5px 0px;
}

.aside-imagen {
    position: absolute;
    width: 17%;
    height: 100%;
    left: 83%;

}

#image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #252935;
    height: 100%;
    color: white;
    width: 100%;
    padding: 10px;
}

.title-text {
    font-size: 20px;
    margin: 5px;
}



.title-mensagge {
    margin: 5px;
    margin-left: 5px;
}

#url {
    padding: 5px;
    background-color: #393e49;
    border: none;
    width: 95%;
    border-radius: 5px;
}


.superior {
    background-color: #393e49;
    border: none;
    height: 15px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
}

.inferior {
    background-color: #393e49;
    border: none;
    height: 15px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
}

::placeholder {
    color: #ffffff;
}

.label {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 5px;
    font-size: 11px;

}

.title-form-images {
    text-align: center;
}

label>input {
    background-color: #393e49;
    border: none;
    border-radius: 3px;
    padding: 1px;
    margin: 5px 0px;

}

.container-colour {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.container-input {
    display: flex;
    width: 20px;
    height: 20px;


}

.span-colour {
    color: #eeeeee;
    width: 20%;
}

.box-input {
    width: 90%;
    background-color: #393e49;
    padding: 3px;
    border-radius: 5px;
}

.colour {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
}



input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;

}

.colour::-moz-color-swatch {
    border-radius: 100%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-div {
    font-size: 5px;
    width: 30%;
}

.container-colour-found {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #252935;
    width: 100%;
}

.container-select {
    margin-top: 1.25rem;
    margin-left: 0.625rem;
}


.select-matiz {
    background-color: #393e49;
    margin: 3px;

}

option {
    color: #ffffff;
    background-color: #393e49;

}

.container-button-aside {
    width: 50%;
    background-color: #393e49;
    border: none;
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;

}

.button-text {
    font-size: 10px;
    color: #ffffff;
}

.bar {
    color: #393e49;

}

.container-title-filtro {
    font-size: 14px;
}

.range {
    font-size: 13px;
}


input[type='range'] {
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    appearance: none;
    height: 3px;
    margin-top: 10px;

}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: pink
}

.box {
    text-shadow: dar;
}

.panel {
    display: block;
}







/*  this is the aside text */

.container-icon-fa-mark {
    display: flex;
    justify-content: end;
    width: 100%;
    display: none;
}

.fa-xmark {
    font-size: 20px;
    color: white;
    margin: auto
}


.aside-text {
    width: 17%;
    height: 100%;
    position: absolute;
    left: 83%;
    z-index: 1;
}



#text {
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #252935;
    height: 100%;
    color: white;
    width: 100%;
    padding: 15px;
}

.title-text {
    text-align: center;
}

.title-select {
    margin: 0;
    font-size: 16px;
}

.container-fuente {
    display: flex;
    justify-content: center;

}

.container-button2 {
    display: flex;
    align-items: center;
}

.container-colour2 {
    display: flex;
}

.box-colour {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.box-found {
    width: 50%;
}

.number-icon {
    width: 90%;
    margin: 0px;
    color: #ffffff;
    height: 90%;


}

.number {

    margin: 0px;
    color: #ffffff;
    padding: 5px;
    width: 90%;
}

.button {
    height: 27px;
    background-color: #393e49;
    color: #ffffff;
    border: none;
    margin: 1px;
    width: 30%;
}

.fa-align {
    font-size: 3px;
    color: #ffffff;
}

#select {
    padding: 5px;
    border: none;
    width: 90%;
    margin: 5px;
}


.container-checked {
    display: flex;
    align-items: center;
    margin: 5px 1px;
}

.checked {
    font-size: 5px;
}

.title-checked {
    font-size: 13px;
}

.matiz {
    width: 95%;
    background-color: #393e49;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.container-outline {
    display: flex;
    justify-content: space-around;

}

.button-outline {
    background-color: #393e49;
    height: 30px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin: 3px;
    width: 35%;
    font-size: 10px;


}

#found,
#colour {
    width: 90%;


}

.title-colour,
.title-found {
    font-size: 16px;
}



/* modo claro */


.modo-claro-header {
    background-color: #e0e0e0;

    .header-title {
        color: #82828c;
    }

    .list {
        background-color: #e0e0e0;
        color: #82828c;
    }

    .icon {
        color: #82828c;
    }

}

.modo-claro-main {
    background-color: #eeeeee;

    .container-button {
        background-color: #FFAFC5;

    }



}


.modo-claro-aside-image {

    .label {
        color: white;
    }

    #url {
        background-color: #e0e0e0;
    }

    .matiz {
        background-color: #e0e0e0;
        color: #c8a092;
    }

    .container-button-aside {
        background-color: #e0e0e0;
    }

    .button-text {
        color: #c8a092;
    }

    #colour {
        background-color: #e0e0e0;
    }

    .container-input {
        background-color: #e0e0e0
    }

    #image {
        background-color: #9EBC9E;
    }

    .box-input {
        background-color: #e0e0e0;
    }

    .container-colour-found {
        background-color: #9ebc9e;
    }

    .matiz>option {
        background-color: #e0e0e0;
        color: #c8a092;

    }

    .span-colour {
        color: #c8a092;
    }
}

.modo-claro-aside-text {
    #text {
        background-color: #9EBC9E;
    }

    .matiz {
        background-color: #e0e0e0;
    }

    #number-icon {
        background-color: #e0e0e0;
        color: #c8a092;
    }

    .button {
        background-color: #e0e0e0;
        color: #c8a092;
    }

    #colour {
        background-color: #e0e0e0;
    }

    #found {
        background-color: #e0e0e0;
    }

    .button-outline {
        background-color: #e0e0e0;
        color: #c8a092;
    }

    #number {
        background-color: #e0e0e0;
        color: #c8a092;
    }

    ::placeholder {
        color: #c8a092;
    }

    #select {
        color: #c8a092;
    }

    .superior,
    .inferior {
        background-color: #e0e0e0;
    }

    .title-colour,
    .title-found {
        background-color: #9EBC9E;
    }

    .box-input {
        background-color: #e0e0e0;
    }

    .container-colour-found {
        background-color: transparent;
    }

    .matiz>option {
        background-color: #e0e0e0;
        color: #c8a092;

    }

    .span-colour {
        color: #c8a092;
    }

    .number {
        color: #c8a092;
    }

    .matiz {
        background-color: #e0e0e0;
        color: #c8a092;
    }
}


/*---------------------------- medias query------------------------------------------ */
@media(max-width:1280px) {

    .main {
        height: 85%;
    }

    .container-icon-fa-mark {
        display: grid;
    }

    .header-container {
        flex-grow: 1;
    }


    .title {
        height: 16%;
        text-align: center;
        padding: 34px;
        box-sizing: border-box;
    }


    .aside-imagen {
        width: 19%;
        left: 81%;



    }

    .aside-text {
        width: 19%;
        left: 81%;


    }
}

@media(max-width:1024px) {


    .headers {
        width: 100%;
    }

    .main {
        width: 100%;
        height: 100%;
    }

    .container-memes {
        width: 65%;
    }

    .aside-imagen {
        width: 25%;
        left: 75%;
        height: 115%;
    }

    .aside-text {
        width: 25%;
        left: 75%;
        height: 115%;
    }

    .container-list {

        justify-content: space-around;
        width: 47%;
    }

    .title {
        width: 100%;
    }

    .container-image {
        width: 100%;
    }
}

@media(max-width:912px) {
    .list {
        font-size: 16px;
    }

    .icon {
        font-size: 16px;
    }

    .container-list {
        justify-content: space-around;
        width: 47%;
    }

    .header-title {
        font-size: 36px;
    }

    .main {
        height: 100%;
        justify-content: space-evenly;
    }

    .aside-imagen {
        height: 115%;
    }

    .aside-text {
        height: 115%;
    }

    .container-memes {
        width: 81%;
        height: 54%;
    }
}


@media(max-width:820px) {
    .title {
        width: 92%;
        height: 13%;
    }

    .container-image {
        width: 90%;
        height: 69%;
    }

    .main {
        height: 100%;
    }

    .aside-imagen {
        left: 75%;

    }

    .aside-text {
        left: 75%;
    }
}

@media(max-width:768px) {
    .header-title {
        font-size: 38px;
    }

    .container-list {

        width: 56%;
    }

    .icon {
        font-size: 17px;
    }

    .list {
        font-size: 18px;
        justify-content: flex-start;
    }

    .main {
        height: 100%;
    }

    .aside-imagen {

        width: 29%;
        left: 71%;
        height: 114%;
    }

    .aside-text {
        width: 29%;
        left: 71%;
        height: 114%;

    }



    .container-list {
        width: 69%;

    }

    .header-title {
        font-size: 41px;
        width: 59%;
    }

    .container-image {
        width: 100%;
        height: 83%;
    }


    .title {
        width: 100%;
    }

    .title-text {

        font-size: 24px;
    }

    .container-colour-found {
        margin-top: 10px;
    }

    .container-select {
        margin-top: 2.25rem;
    }

    .container-title-filtro {
        margin-top: 10px;
    }

    input[type='range'] {
        height: 4px;

    }

    .title-mensagge {
        margin: 3px;
        margin-top: 2px;
    }

    .superior {
        padding: 8px;
        WIDTH: 95%;
    }

    .inferior {
        padding: 8px;
        WIDTH: 95%;
    }

    #select {

        padding: 6PX;
        width: 99%;
        margin-top: 16px;
        margin: 5px 3px;
    }


    .number-icon {

        height: 78%
    }

    label {
        margin: 0px;
    }


    #number {
        height: 46%;
    }
}



@media(max-width:540px) {
    .aside-imagen {
        width: 100%;
        left: 0%;
        z-index: 3;
            height: 149%;
    }

    input[type='range'] {
        height: 9px;
        margin-top: 17px;

    }

    #url {
        padding: 18px;
        width: 91%;
        border-radius: 8px;
    }

    .container-colour-found {
        width: 50%;
    }

    .container-select {
        margin-top: 3.25rem;
        width: 50%;
    }

    .box-input {
        padding: 14px 3px;
        border-radius: 10px;
    }

    .colour {
        width: 77%;
        height: 215%;
        position: relative;
        top: -45%;
    }

    .container-input {
        width: 25%;
        height: 86%;
    }

    .matiz {
        padding: 15px 5px;
        border-radius: 4px;
        width: 98%;
    }

    .container-button-aside {
        width: 39%;
        height: 6%
    }

    .button-text {
        font-size: 20px;
    }

    #image {
        padding: 24px
    }

    .aside-text {
        width: 100%;
        left: 0%;
        height: 149%;
        ;
    }

    .superior {
        padding: 15px;
        width: 90%;
    }

    .inferior {
        padding: 15px;
        width: 90%;
    }

    .title-mensagge {
        font-size: 23px;
    }

    .title-checked {
        font-size: 15px;
    }

    #select {
        padding: 14PX 5px;
    }

    .container-fuente {

        justify-content: space-between;
    }

    .number-icon {

        width: 123%;
        margin: 12px;
    }


    .container-button2 {
        width: 51%;
        height: 100%;
        margin-top: 10px;
    }


    .button {
        height: 87%
    }

    .container-number {
        width: 36%;
        height: 143%;
    }

    .header-title {
        font-size: 34px;
    }

    .main {
        height: 100%;
    }

    .title-colour,
    .title-found {
        font-size: 24px;
        margin: 10px;
    }

    .button-outline {
        height: 100%;
    }

    .title-select {
        margin: 19px 0px;
        font-size: 22px;
    }

    .container-outline {
        height: 5%;
    }

    #number {
        height: 32%;
        margin-bottom: 38px;
        width: 97%;
        border-radius: 5px;
    }

}

@media(max-width:412px) {
    .container-memes {
        height: 50%;
    }
}

@media(max-width:412px) {
    .header-title {
        font-size: 26px;
        text-align: center;
    }

    .container-list {
        width: 90%;
    }
}

@media(max-width:360px) {
    .container-list {
        width: 100%;
    }

}



@media(max-width:280px) {
    .headers {
        height: 25%;
    }

    .container-list {
        width: 100%;
        flex-wrap: wrap;
    }

    .list {
        font-size: 19px;
        justify-content: center;
    }

    .title-select {
        margin: 6px 0px;

    }

    .number-icon {
        width: 123%;
        margin: 8px 5px;
    }

    .container-button-aside {
        width: 69%
    }

    #url {
        padding: 13px;
    }

    .header-title {
        font-size: 27px;
        height: 7%;
        width: 100%;
        text-align: center;
    }

    .title {
        width: 97%;
        padding: 10px;
    }

}